
<h3>Estadisticas:</h3>

<p> Número de preguntas : <%=estadio.totalPreguntas %></p>

<p>Número de comentarios  : <%=estadio.totalComentarios %></p>

<p>Preguntas con comentarios: <%=estadio.preguntasConComentario %></p>

<p>Preguntas sin comentarios: <%=estadio.preguntasSinComentario %></p>

<p>Nº medio de comentarios por pregunta: <%=estadio.mediaComentarioPregunta %></p>
